In [1]:
spark.version

2.4.3

In [32]:
import java.sql.Date
import org.apache.spark.sql.expressions.Window
import org.apache.spark.sql.functions._

In [47]:
val sourceDf = Seq(
    (Date.valueOf("2019-01-01"), "notebook", 100.00),
    (Date.valueOf("2019-05-10"), "notebook", 300.00),
    (Date.valueOf("2019-03-05"), "small phone", 100.00),
    (Date.valueOf("2019-02-20"), "camera",150.00),
    (Date.valueOf("2019-01-20"), "small phone", 300.00),
    (Date.valueOf("2019-02-15"), "large phone", 300.00),
    (Date.valueOf("2019-01-01"), "camera", 300.00),
    (Date.valueOf("2019-04-01"), "small phone", 50.00)
).toDF("purchase date", "device", "price")

sourceDf = [purchase date: date, device: string ... 1 more field]

[purchase date: date, device: string ... 1 more field]

In [48]:
%%dataframe
sourceDf

purchase date,device,price
2019-01-01,notebook,100.0
2019-05-10,notebook,300.0
2019-03-05,small phone,100.0
2019-02-20,camera,150.0
2019-01-20,small phone,300.0
2019-02-15,large phone,300.0
2019-01-01,camera,300.0
2019-04-01,small phone,50.0

## average value per group

In [49]:
%%dataframe
:paste

sourceDf
    .withColumn("average_device_price", mean("price") over Window.partitionBy("device"))

purchase date,device,price,average_device_price
2019-02-15,large phone,300.0,300.0
2019-03-05,small phone,100.0,150.0
2019-01-20,small phone,300.0,150.0
2019-04-01,small phone,50.0,150.0
2019-01-01,notebook,100.0,200.0
2019-05-10,notebook,300.0,200.0
2019-02-20,camera,150.0,225.0
2019-01-01,camera,300.0,225.0

## where row is largest in group

## where row is most recent value

## get median value

## get percentile